<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>风之谷</string>
		<key>icon</key>
		<string>fengzhigu</string>
		<key>title</key>
		<string>宫崎骏电影</string>
		<key>options</key>
		<array>
			<string>借</string>
			<string>橘</string>
			<string>东</string>
			<string>素</string>
			<string>小</string>
			<string>爱</string>
			<string>风</string>
			<string>人</string>
			<string>你</string>
			<string>的</string>
			<string>俗</string>
			<string>之</string>
			<string>宫</string>
			<string>西</string>
			<string>画</string>
			<string>谷</string>
			<string>天</string>
			<string>皮</string>
			<string>我</string>
			<string>次</string>
			<string>填</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>幽灵公主</string>
		<key>icon</key>
		<string>youlin</string>
		<key>title</key>
		<string>是哪部动画片呢</string>
		<key>options</key>
		<array>
			<string>灵</string>
			<string>目</string>
			<string>龙</string>
			<string>人</string>
			<string>夏</string>
			<string>幽</string>
			<string>悬</string>
			<string>鱼</string>
			<string>主</string>
			<string>崖</string>
			<string>人</string>
			<string>的</string>
			<string>公</string>
			<string>猫</string>
			<string>上</string>
			<string>友</string>
			<string>公</string>
			<string>帐</string>
			<string>主</string>
			<string>画</string>
			<string>花</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>东邪西毒</string>
		<key>icon</key>
		<string>dongxie</string>
		<key>title</key>
		<string>电影名 醉生梦死只不过是她跟我开的一个玩笑</string>
		<key>options</key>
		<array>
			<string>梁</string>
			<string>霸</string>
			<string>张</string>
			<string>了</string>
			<string>荣</string>
			<string>辉</string>
			<string>的</string>
			<string>国</string>
			<string>指</string>
			<string>西</string>
			<string>家</string>
			<string>别</string>
			<string>邪</string>
			<string>手</string>
			<string>白</string>
			<string>毒</string>
			<string>百</string>
			<string>姬</string>
			<string>东</string>
			<string>王</string>
			<string>家</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>高达</string>
		<key>icon</key>
		<string>gaoda</string>
		<key>title</key>
		<string>热血沸腾的动漫</string>
		<key>options</key>
		<array>
			<string>矢</string>
			<string>斗</string>
			<string>童</string>
			<string>想</string>
			<string>得</string>
			<string>圣</string>
			<string>平</string>
			<string>幻</string>
			<string>星</string>
			<string>滴</string>
			<string>高</string>
			<string>木</string>
			<string>铁</string>
			<string>士</string>
			<string>阿</string>
			<string>你</string>
			<string>最</string>
			<string>有</string>
			<string>臂</string>
			<string>终</string>
			<string>达</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>蒂姆</string>
		<key>icon</key>
		<string>xiaohuangren</string>
		<key>title</key>
		<string>这只小黄人叫啥</string>
		<key>options</key>
		<array>
			<string>克</string>
			<string>汤</string>
			<string>恩</string>
			<string>鲍</string>
			<string>史</string>
			<string>夫</string>
			<string>姆</string>
			<string>治</string>
			<string>卡</string>
			<string>蒂</string>
			<string>文</string>
			<string>马</string>
			<string>乔</string>
			<string>勃</string>
			<string>蒂</string>
			<string>菲</string>
			<string>瑞</string>
			<string>凯</string>
			<string>尔</string>
			<string>戴</string>
			<string>杰</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>洛克王国</string>
		<key>icon</key>
		<string>luokewangguo</string>
		<key>title</key>
		<string>动漫和游戏</string>
		<key>options</key>
		<array>
			<string>剑</string>
			<string>国</string>
			<string>话</string>
			<string>克</string>
			<string>皮</string>
			<string>冷</string>
			<string>奇</string>
			<string>笑</string>
			<string>车</string>
			<string>侠</string>
			<string>洛</string>
			<string>下</string>
			<string>皮</string>
			<string>个</string>
			<string>仙</string>
			<string>卡</string>
			<string>十</string>
			<string>丁</string>
			<string>王</string>
			<string>传</string>
			<string>万</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>空手接白刃</string>
		<key>icon</key>
		<string>kongshou</string>
		<key>title</key>
		<string>该人物的独特技能</string>
		<key>options</key>
		<array>
			<string>刃</string>
			<string>典</string>
			<string>托</string>
			<string>空</string>
			<string>白</string>
			<string>吐</string>
			<string>穴</string>
			<string>李</string>
			<string>接</string>
			<string>宝</string>
			<string>手</string>
			<string>天</string>
			<string>花</string>
			<string>塔</string>
			<string>点</string>
			<string>葵</string>
			<string>槽</string>
			<string>空</string>
			<string>王</string>
			<string>时</string>
			<string>隔</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>指环王</string>
		<key>icon</key>
		<string>zhihuanwang</string>
		<key>title</key>
		<string>电影电影大电影</string>
		<key>options</key>
		<array>
			<string>比</string>
			<string>王</string>
			<string>社</string>
			<string>特</string>
			<string>凤</string>
			<string>猎</string>
			<string>霍</string>
			<string>东</string>
			<string>利</string>
			<string>原</string>
			<string>指</string>
			<string>平</string>
			<string>与</string>
			<string>人</string>
			<string>哈</string>
			<string>部</string>
			<string>凰</string>
			<string>人</string>
			<string>特</string>
			<string>环</string>
			<string>波</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>百事</string>
		<key>icon</key>
		<string>baishishouji</string>
		<key>title</key>
		<string>什么牌子的手机</string>
		<key>options</key>
		<array>
			<string>事</string>
			<string>步</string>
			<string>华</string>
			<string>果</string>
			<string>格</string>
			<string>三</string>
			<string>高</string>
			<string>百</string>
			<string>步</string>
			<string>星</string>
			<string>为</string>
			<string>乐</string>
			<string>力</string>
			<string>苹</string>
			<string>通</string>
			<string>大</string>
			<string>高</string>
			<string>众</string>
			<string>黑</string>
			<string>周</string>
			<string>莓</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>哈尔</string>
		<key>icon</key>
		<string>haer</string>
		<key>title</key>
		<string>男主的名字</string>
		<key>options</key>
		<array>
			<string>世</string>
			<string>司</string>
			<string>达</string>
			<string>尔</string>
			<string>泽</string>
			<string>邦</string>
			<string>卡</string>
			<string>白</string>
			<string>三</string>
			<string>蜓</string>
			<string>龙</string>
			<string>阿</string>
			<string>哈</string>
			<string>波</string>
			<string>巴</string>
			<string>天</string>
			<string>贝</string>
			<string>鲁</string>
			<string>蜻</string>
			<string>圣</string>
			<string>克</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>神探夏洛克</string>
		<key>icon</key>
		<string>shentan</string>
		<key>title</key>
		<string>一部英剧</string>
		<key>options</key>
		<array>
			<string>克</string>
			<string>日</string>
			<string>血</string>
			<string>探</string>
			<string>红</string>
			<string>洛</string>
			<string>司</string>
			<string>尔</string>
			<string>日</string>
			<string>神</string>
			<string>吸</string>
			<string>网</string>
			<string>期</string>
			<string>福</string>
			<string>序</string>
			<string>摩</string>
			<string>的</string>
			<string>夏</string>
			<string>斯</string>
			<string>记</string>
			<string>鬼</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>吉姆帕森斯</string>
		<key>icon</key>
		<string>xieerduo</string>
		<key>title</key>
		<string>他的大名</string>
		<key>options</key>
		<array>
			<string>森</string>
			<string>布</string>
			<string>拉</string>
			<string>帕</string>
			<string>迪</string>
			<string>罗</string>
			<string>森</string>
			<string>吉</string>
			<string>瑞</string>
			<string>耳</string>
			<string>尔</string>
			<string>博</string>
			<string>比</string>
			<string>谢</string>
			<string>克</string>
			<string>卓</string>
			<string>姆</string>
			<string>斯</string>
			<string>查</string>
			<string>朵</string>
			<string>斯</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>夏目友人帐</string>
		<key>icon</key>
		<string>xiamu</string>
		<key>title</key>
		<string>治愈系动漫</string>
		<key>options</key>
		<array>
			<string>帐</string>
			<string>咪</string>
			<string>名</string>
			<string>友</string>
			<string>闻</string>
			<string>孩</string>
			<string>繁</string>
			<string>夏</string>
			<string>逐</string>
			<string>未</string>
			<string>呀</string>
			<string>猫</string>
			<string>老</string>
			<string>星</string>
			<string>人</string>
			<string>追</string>
			<string>花</string>
			<string>的</string>
			<string>师</string>
			<string>子</string>
			<string>目</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>日暮戈薇</string>
		<key>icon</key>
		<string>quayecha</string>
		<key>title</key>
		<string>女主的名字</string>
		<key>options</key>
		<array>
			<string>梗</string>
			<string>戈</string>
			<string>瑚</string>
			<string>珊</string>
			<string>童</string>
			<string>第</string>
			<string>暮</string>
			<string>子</string>
			<string>神</string>
			<string>落</string>
			<string>七</string>
			<string>姥</string>
			<string>日</string>
			<string>白</string>
			<string>枫</string>
			<string>桔</string>
			<string>奈</string>
			<string>宝</string>
			<string>薇</string>
			<string>乐</string>
			<string>姥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>秦时明月</string>
		<key>icon</key>
		<string>qinshimingyue</string>
		<key>title</key>
		<string>国漫</string>
		<key>options</key>
		<array>
			<string>月</string>
			<string>不</string>
			<string>汉</string>
			<string>良</string>
			<string>烧</string>
			<string>关</string>
			<string>秦</string>
			<string>人</string>
			<string>铁</string>
			<string>明</string>
			<string>童</string>
			<string>侠</string>
			<string>脑</string>
			<string>进</string>
			<string>时</string>
			<string>湖</string>
			<string>画</string>
			<string>的</string>
			<string>岚</string>
			<string>巨</string>
			<string>江</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杀生丸</string>
		<key>icon</key>
		<string>shashengwan</string>
		<key>title</key>
		<string>猜人名</string>
		<key>options</key>
		<array>
			<string>杀</string>
			<string>珀</string>
			<string>叉</string>
			<string>魉</string>
			<string>神</string>
			<string>丸</string>
			<string>琥</string>
			<string>子</string>
			<string>无</string>
			<string>犬</string>
			<string>赤</string>
			<string>魍</string>
			<string>宝</string>
			<string>夜</string>
			<string>弥</string>
			<string>白</string>
			<string>落</string>
			<string>生</string>
			<string>勒</string>
			<string>童</string>
			<string>奈</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>琅琊榜</string>
		<key>icon</key>
		<string>langyabang</string>
		<key>title</key>
		<string>剧名</string>
		<key>options</key>
		<array>
			<string>奇</string>
			<string>榜</string>
			<string>伪</string>
			<string>侠</string>
			<string>长</string>
			<string>苏</string>
			<string>仙</string>
			<string>李</string>
			<string>逍</string>
			<string>轩</string>
			<string>遥</string>
			<string>琅</string>
			<string>梅</string>
			<string>者</string>
			<string>辕</string>
			<string>剑</string>
			<string>装</string>
			<string>传</string>
			<string>琊</string>
			<string>神</string>
			<string>话</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>高圆圆</string>
		<key>icon</key>
		<string>gaoyuanyuan</string>
		<key>title</key>
		<string>女神</string>
		<key>options</key>
		<array>
			<string>范</string>
			<string>心</string>
			<string>章</string>
			<string>子</string>
			<string>冰</string>
			<string>静</string>
			<string>高</string>
			<string>柴</string>
			<string>林</string>
			<string>冰</string>
			<string>如</string>
			<string>圆</string>
			<string>怡</string>
			<string>杨</string>
			<string>王</string>
			<string>圆</string>
			<string>晓</string>
			<string>幂</string>
			<string>晟</string>
			<string>贾</string>
			<string>雯</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>香菜</string>
		<key>icon</key>
		<string>xiangcai</string>
		<key>title</key>
		<string>一种植物</string>
		<key>options</key>
		<array>
			<string>胡</string>
			<string>平</string>
			<string>白</string>
			<string>菜</string>
			<string>蘑</string>
			<string>芹</string>
			<string>青</string>
			<string>娃</string>
			<string>香</string>
			<string>萝</string>
			<string>娃</string>
			<string>蒜</string>
			<string>卜</string>
			<string>韭</string>
			<string>菇</string>
			<string>地</string>
			<string>葱</string>
			<string>杏</string>
			<string>芭</string>
			<string>苗</string>
			<string>蕉</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>五仁月饼</string>
		<key>icon</key>
		<string>wurenyuebing</string>
		<key>title</key>
		<string>黑暗食物</string>
		<key>options</key>
		<array>
			<string>饼</string>
			<string>我</string>
			<string>仁</string>
			<string>巧</string>
			<string>黑</string>
			<string>理</string>
			<string>五</string>
			<string>克</string>
			<string>飞</string>
			<string>部</string>
			<string>地</string>
			<string>料</string>
			<string>力</string>
			<string>月</string>
			<string>坚</string>
			<string>知</string>
			<string>瓜</string>
			<string>暗</string>
			<string>道</string>
			<string>果</string>
			<string>饭</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>进击的巨人</string>
		<key>icon</key>
		<string>jinji</string>
		<key>title</key>
		<string>一部热血的动漫</string>
		<key>options</key>
		<array>
			<string>木</string>
			<string>进</string>
			<string>柯</string>
			<string>童</string>
			<string>探</string>
			<string>铁</string>
			<string>钢</string>
			<string>人</string>
			<string>臂</string>
			<string>击</string>
			<string>侦</string>
			<string>侠</string>
			<string>的</string>
			<string>司</string>
			<string>阿</string>
			<string>南</string>
			<string>高</string>
			<string>名</string>
			<string>达</string>
			<string>恶</string>
			<string>巨</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>暮光之城</string>
		<key>icon</key>
		<string>muguangzhicheng</string>
		<key>title</key>
		<string>人与吸血鬼与狼人</string>
		<key>options</key>
		<array>
			<string>之</string>
			<string>日</string>
			<string>女</string>
			<string>吸</string>
			<string>故</string>
			<string>东</string>
			<string>国</string>
			<string>美</string>
			<string>暮</string>
			<string>怖</string>
			<string>蚀</string>
			<string>区</string>
			<string>恐</string>
			<string>事</string>
			<string>城</string>
			<string>血</string>
			<string>记</string>
			<string>日</string>
			<string>鬼</string>
			<string>巫</string>
			<string>光</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>未闻花名</string>
		<key>icon</key>
		<string>weiwenhuaming</string>
		<key>title</key>
		<string>治愈系动漫</string>
		<key>options</key>
		<array>
			<string>帐</string>
			<string>名</string>
			<string>友</string>
			<string>葫</string>
			<string>夏</string>
			<string>娃</string>
			<string>目</string>
			<string>花</string>
			<string>坛</string>
			<string>篮</string>
			<string>人</string>
			<string>水</string>
			<string>未</string>
			<string>果</string>
			<string>子</string>
			<string>客</string>
			<string>芦</string>
			<string>进</string>
			<string>特</string>
			<string>闻</string>
			<string>扎</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>水果篮子</string>
		<key>icon</key>
		<string>shuiguolanzi</string>
		<key>title</key>
		<string>名字名字动漫名</string>
		<key>options</key>
		<array>
			<string>帐</string>
			<string>名</string>
			<string>友</string>
			<string>葫</string>
			<string>夏</string>
			<string>娃</string>
			<string>目</string>
			<string>花</string>
			<string>坛</string>
			<string>篮</string>
			<string>人</string>
			<string>水</string>
			<string>未</string>
			<string>果</string>
			<string>子</string>
			<string>客</string>
			<string>芦</string>
			<string>进</string>
			<string>特</string>
			<string>闻</string>
			<string>扎</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>古姜国</string>
		<key>icon</key>
		<string>xianjian</string>
		<key>title</key>
		<string>龙葵是哪国公主</string>
		<key>options</key>
		<array>
			<string>齐</string>
			<string>元</string>
			<string>国</string>
			<string>华</string>
			<string>先</string>
			<string>隋</string>
			<string>汉</string>
			<string>前</string>
			<string>中</string>
			<string>唐</string>
			<string>古</string>
			<string>蛮</string>
			<string>周</string>
			<string>丰</string>
			<string>原</string>
			<string>天</string>
			<string>夷</string>
			<string>姜</string>
			<string>风</string>
			<string>的</string>
			<string>通</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>杨幂</string>
		<key>icon</key>
		<string>yangmi</string>
		<key>title</key>
		<string>名字</string>
		<key>options</key>
		<array>
			<string>范</string>
			<string>心</string>
			<string>章</string>
			<string>子</string>
			<string>冰</string>
			<string>静</string>
			<string>高</string>
			<string>柴</string>
			<string>林</string>
			<string>冰</string>
			<string>如</string>
			<string>圆</string>
			<string>怡</string>
			<string>杨</string>
			<string>王</string>
			<string>圆</string>
			<string>晓</string>
			<string>幂</string>
			<string>晟</string>
			<string>贾</string>
			<string>雯</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>葫芦娃</string>
		<key>icon</key>
		<string>huluwa</string>
		<key>title</key>
		<string>小时候的记忆</string>
		<key>options</key>
		<array>
			<string>童</string>
			<string>高</string>
			<string>娃</string>
			<string>找</string>
			<string>斗</string>
			<string>小</string>
			<string>士</string>
			<string>蚪</string>
			<string>铁</string>
			<string>达</string>
			<string>星</string>
			<string>妈</string>
			<string>葫</string>
			<string>矢</string>
			<string>壁</string>
			<string>木</string>
			<string>妈</string>
			<string>蝌</string>
			<string>芦</string>
			<string>圣</string>
			<string>阿</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>李狗蛋</string>
		<key>icon</key>
		<string>nezha</string>
		<key>title</key>
		<string>他爹给他取了什么名字</string>
		<key>options</key>
		<array>
			<string>不</string>
			<string>蛋</string>
			<string>哈</string>
			<string>托</string>
			<string>银</string>
			<string>塔</string>
			<string>李</string>
			<string>知</string>
			<string>哈</string>
			<string>司</string>
			<string>哪</string>
			<string>的</string>
			<string>道</string>
			<string>金</string>
			<string>子</string>
			<string>木</string>
			<string>狗</string>
			<string>男</string>
			<string>吒</string>
			<string>冰</string>
			<string>水</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>乔布斯</string>
		<key>icon</key>
		<string>qiaobusi</string>
		<key>title</key>
		<string>哪位名人</string>
		<key>options</key>
		<array>
			<string>坦</string>
			<string>霍</string>
			<string>的</string>
			<string>爱</string>
			<string>夫</string>
			<string>乔</string>
			<string>罗</string>
			<string>科</string>
			<string>波</string>
			<string>斯</string>
			<string>鲍</string>
			<string>勃</string>
			<string>斯</string>
			<string>福</string>
			<string>斯</string>
			<string>布</string>
			<string>牛</string>
			<string>因</string>
			<string>金</string>
			<string>契</string>
			<string>顿</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>最终幻想</string>
		<key>icon</key>
		<string>zuizhonghuanxiang</string>
		<key>title</key>
		<string>一款风靡全球的游戏</string>
		<key>options</key>
		<array>
			<string>坦</string>
			<string>霍</string>
			<string>的</string>
			<string>幻</string>
			<string>达</string>
			<string>乔</string>
			<string>罗</string>
			<string>科</string>
			<string>波</string>
			<string>斯</string>
			<string>最</string>
			<string>勃</string>
			<string>斯</string>
			<string>福</string>
			<string>终</string>
			<string>高</string>
			<string>牛</string>
			<string>想</string>
			<string>金</string>
			<string>契</string>
			<string>顿</string>
		</array>
	</dict>
</array>
</plist>
