<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>赵小猫</string>
		<key>icon</key>
		<string>people-zxh</string>
		<key>title</key>
		<string>老虎怕猫那是谣传</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>赵</string>
			<string>人</string>
			<string>笑</string>
			<string>越</string>
			<string>黄</string>
			<string>工</string>
			<string>大</string>
			<string>小</string>
			<string>传</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>猫</string>
			<string>赤</string>
			<string>光</string>
			<string>人</string>
			<string>壁</string>
			<string>盒</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>不堪一鸡</string>
		<key>icon</key>
		<string>gj</string>
		<key>title</key>
		<string>公鸡和日本车</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>我</string>
			<string>一</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>击</string>
			<string>的</string>
			<string>美</string>
			<string>不</string>
			<string>线</string>
			<string>石</string>
			<string>堪</string>
			<string>人</string>
			<string>空</string>
			<string>鸡</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>苍井空</string>
		<key>icon</key>
		<string>people-cls</string>
		<key>title</key>
		<string>启蒙老师</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>头</string>
			<string>苍</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>井</string>
			<string>的</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>空</string>
			<string>人</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>李明姐</string>
		<key>icon</key>
		<string>people-mj</string>
		<key>title</key>
		<string>迈克尔杰克逊的mj</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>曹</string>
			<string>玛</string>
			<string>泽</string>
			<string>黄</string>
			<string>杰</string>
			<string>李</string>
			<string>黄</string>
			<string>飞</string>
			<string>渤</string>
			<string>鸿</string>
			<string>利</string>
			<string>依</string>
			<string>林</string>
			<string>空</string>
			<string>苍</string>
			<string>依</string>
			<string>明</string>
			<string>姐</string>
			<string>晨</string>
			<string>小</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>刘天源</string>
		<key>icon</key>
		<string>people-lty</string>
		<key>title</key>
		<string>杀猪佬儿到iOS高富帅的华丽转身</string>
		<key>options</key>
		<array>
			<string>曾</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>黄</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>天</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>小白</string>
		<key>icon</key>
		<string>xb</string>
		<key>title</key>
		<string>谁还没有年轻过</string>
		<key>options</key>
		<array>
			<string>曾</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>黄</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
</array>
</plist>
