<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>俞雯</string>
		<key>icon</key>
		<string>俞雯</string>
		<key>title</key>
		<string>低调的女子</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>中</string>
			<string>人</string>
			<string>笑</string>
			<string>雯</string>
			<string>黄</string>
			<string>工</string>
			<string>大</string>
			<string>国</string>
			<string>传</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>合</string>
			<string>俞</string>
			<string>伙</string>
			<string>人</string>
			<string>壁</string>
			<string>盒</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>卓寿杰</string>
		<key>icon</key>
		<string>卓寿杰</string>
		<key>title</key>
		<string>五月天的男人</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>杰</string>
			<string>一</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>卓</string>
			<string>合</string>
			<string>击</string>
			<string>的</string>
			<string>美</string>
			<string>不</string>
			<string>线</string>
			<string>石</string>
			<string>寿</string>
			<string>人</string>
			<string>空</string>
			<string>鸡</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>吴晓霞</string>
		<key>icon</key>
		<string>吴晓霞</string>
		<key>title</key>
		<string>学霸如斯</string>
		<key>options</key>
		<array>
			<string>张</string>
			<string>狂</string>
			<string>头</string>
			<string>苍</string>
			<string>宋</string>
			<string>王</string>
			<string>霞</string>
			<string>壁</string>
			<string>合</string>
			<string>晓</string>
			<string>的</string>
			<string>美</string>
			<string>飞</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>师</string>
			<string>人</string>
			<string>吴</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>周小丽</string>
		<key>icon</key>
		<string>周小丽</string>
		<key>title</key>
		<string>南大才女</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>曹</string>
			<string>玛</string>
			<string>泽</string>
			<string>丽</string>
			<string>杰</string>
			<string>李</string>
			<string>周</string>
			<string>飞</string>
			<string>渤</string>
			<string>鸿</string>
			<string>利</string>
			<string>依</string>
			<string>林</string>
			<string>空</string>
			<string>苍</string>
			<string>依</string>
			<string>明</string>
			<string>姐</string>
			<string>晨</string>
			<string>小</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>周珺</string>
		<key>icon</key>
		<string>周珺</string>
		<key>title</key>
		<string>信息1103驻美国大使</string>
		<key>options</key>
		<array>
			<string>曾</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>珺</string>
			<string>黄</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>天</string>
			<string>周</string>
			<string>乔</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>周赛君</string>
		<key>icon</key>
		<string>周赛君</string>
		<key>title</key>
		<string>微博狂魔</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>宋斌彬</string>
		<key>icon</key>
		<string>宋斌彬</string>
		<key>title</key>
		<string>班级CP男主角</string>
		<key>options</key>
		<array>
			<string>施</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>宋</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>斌</string>
			<string>曾</string>
			<string>好</string>
			<string>彬</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>施颖佳</string>
		<key>icon</key>
		<string>施颖佳</string>
		<key>title</key>
		<string>工大女神</string>
		<key>options</key>
		<array>
			<string>信</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>佳</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>施</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>叶</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>颖</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>朱禹剑</string>
		<key>icon</key>
		<string>朱禹剑</string>
		<key>title</key>
		<string>CALL ME BILLION MEN</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>朱</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>剑</string>
			<string>古</string>
			<string>禹</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>林晓峰</string>
		<key>icon</key>
		<string>林晓峰</string>
		<key>title</key>
		<string>步行者</string>
		<key>options</key>
		<array>
			<string>晓</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>林</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>峰</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>殷益飞</string>
		<key>icon</key>
		<string>殷益飞</string>
		<key>title</key>
		<string>魔性的飞哥</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>殷</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>爱</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>益</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>沈叶荧</string>
		<key>icon</key>
		<string>沈叶荧</string>
		<key>title</key>
		<string>叶叶最棒</string>
		<key>options</key>
		<array>
			<string>叶</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>荧</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>沈</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>沈聪玲</string>
		<key>icon</key>
		<string>沈聪玲</string>
		<key>title</key>
		<string>聪明伶俐</string>
		<key>options</key>
		<array>
			<string>亥</string>
			<string>丹</string>
			<string>凌</string>
			<string>刘</string>
			<string>沈</string>
			<string>贤</string>
			<string>周</string>
			<string>聪</string>
			<string>源</string>
			<string>古</string>
			<string>葱</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>玲</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>王利舟</string>
		<key>icon</key>
		<string>王利舟</string>
		<key>title</key>
		<string>一帆风顺</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>王</string>
			<string>周</string>
			<string>小</string>
			<string>利</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>舟</string>
			<string>乔</string>
			<string>周</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>王圣炜</string>
		<key>icon</key>
		<string>王圣炜</string>
		<key>title</key>
		<string>苹果小王子</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>王</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>圣</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>炜</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>王新启</string>
		<key>icon</key>
		<string>王新启</string>
		<key>title</key>
		<string>营销达人</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>新</string>
			<string>李</string>
			<string>王</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>启</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>金情飞</string>
		<key>icon</key>
		<string>金情飞</string>
		<key>title</key>
		<string>社交达人</string>
		<key>options</key>
		<array>
			<string>侯</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>金</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>没</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>飞</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>情</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>阮慧</string>
		<key>icon</key>
		<string>阮慧</string>
		<key>title</key>
		<string>你好 美丽声音</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>慧</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>阮</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>陆盈盈</string>
		<key>icon</key>
		<string>陆盈盈</string>
		<key>title</key>
		<string>终于出来CP女主角了</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>盈</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>盈</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>陆</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>陈静</string>
		<key>icon</key>
		<string>陈静</string>
		<key>title</key>
		<string>传化CEO</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>陈</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>静</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>陈颖杰</string>
		<key>icon</key>
		<string>陈颖杰</string>
		<key>title</key>
		<string>上海代表</string>
		<key>options</key>
		<array>
			<string>杰</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>陈</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>颖</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>章学耀</string>
		<key>icon</key>
		<string>章学耀</string>
		<key>title</key>
		<string>银行女汉子</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>耀</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>章</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>学</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>章波</string>
		<key>icon</key>
		<string>章波</string>
		<key>title</key>
		<string>风景照大师</string>
		<key>options</key>
		<array>
			<string>赛</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>章</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>波</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>鲁宏斌</string>
		<key>icon</key>
		<string>鲁宏斌</string>
		<key>title</key>
		<string>小公举</string>
		<key>options</key>
		<array>
			<string>宏</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>斌</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>鲁</string>
			<string>宇</string>
			<string>乐</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>龚丽娜</string>
		<key>icon</key>
		<string>龚丽娜</string>
		<key>title</key>
		<string>向日葵的微笑</string>
		<key>options</key>
		<array>
			<string>娜</string>
			<string>丹</string>
			<string>飞</string>
			<string>刘</string>
			<string>李</string>
			<string>贤</string>
			<string>周</string>
			<string>小</string>
			<string>源</string>
			<string>丽</string>
			<string>子</string>
			<string>曾</string>
			<string>好</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>君</string>
			<string>宇</string>
			<string>龚</string>
			<string>白</string>
			<string>哥</string>
		</array>
	</dict>
</array>
</plist>
