<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>danpao2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {74, 29}}</string>
			<key>spriteOffset</key>
			<string>{13, -0}</string>
			<key>spriteSize</key>
			<string>{74, 29}</string>
			<key>spriteSourceSize</key>
			<string>{100, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 87}, {74, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>danpao3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {74, 29}}</string>
			<key>spriteOffset</key>
			<string>{13, -0}</string>
			<key>spriteSize</key>
			<string>{74, 29}</string>
			<key>spriteSourceSize</key>
			<string>{100, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 0}, {74, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiansu2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {56, 38}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{56, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 89}, {56, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiansu3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {56, 38}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{56, 38}</string>
			<key>spriteSourceSize</key>
			<string>{64, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 89}, {56, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanpao2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {76, 36}}</string>
			<key>spriteOffset</key>
			<string>{12, -0}</string>
			<key>spriteSize</key>
			<string>{76, 36}</string>
			<key>spriteSourceSize</key>
			<string>{100, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 0}, {76, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sanpao3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {76, 36}}</string>
			<key>spriteOffset</key>
			<string>{12, -0}</string>
			<key>spriteSize</key>
			<string>{76, 36}</string>
			<key>spriteSourceSize</key>
			<string>{100, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {76, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shuangpao2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 49}</string>
			<key>spriteSourceSize</key>
			<string>{63, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 38}, {63, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shuangpao3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 49}</string>
			<key>spriteSourceSize</key>
			<string>{63, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 38}, {63, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wudi2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 38}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wudi3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 47}</string>
			<key>spriteSourceSize</key>
			<string>{60, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 31}, {60, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>developTower</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>developTower</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>