<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundFX</key>
	<array>
		<string>unable.mp3</string>
		<string>win.mp3</string>
		<string>lose.mp3</string>
		<string>sound.wav</string>
	</array>
	<key>Music</key>
	<array>
		<string>bg_startGameScene.mp3</string>
	</array>
	<key>Assets</key>
	<array>
		<string>bg_startGameScene.mp3</string>
	</array>
	<key>Images</key>
	<array>
		<string>wudijizuo.png</string>
		<string>shuangpaojizuo.png</string>
		<string>sanpaojizuo.png</string>
		<string>danpaojizuo.png</string>
		<string>sell.png</string>
		<string>level-3.png</string>
		<string>level-2.png</string>
		<string>level-1.png</string>
		<string>tanke1_default.png</string>
		<string>xiaobing_default.png</string>
		<string>feiting.png</string>
		<string>kacheshang.png</string>
		<string>plane1.png</string>
		<string>plane2.png</string>
		<string>3-level5.png</string>
		<string>3-level4.png</string>
		<string>3-level3.png</string>
		<string>3-level2.png</string>
		<string>3-level1.png</string>
		<string>2-level5.png</string>
		<string>2-level4.png</string>
		<string>2-level3.png</string>
		<string>2-leve2.png</string>
		<string>2-level1.png</string>
		<string>1-level5.png</string>
		<string>1-level4.png</string>
		<string>1-level3.png</string>
		<string>1-level2.png</string>
		<string>1-level1.png</string>
		<string>sound_off.png</string>
		<string>sound_on.png</string>
		<string>email.png</string>
		<string>bg_set.png</string>
		<string>button_set.png</string>
		<string>button_begin.png</string>
		<string>bg_startGameScene.png</string>
		<string>about.png</string>
		<string>dixing3.png</string>
		<string>dixing2.png</string>
		<string>dixing1.png</string>
		<string>bg_select.png</string>
		<string>bg_load.png</string>
		<string>progressbar.png</string>
		<string>progressbar-hd.png</string>
		<string>back.png</string>
		<string>music_on.png</string>
		<string>sound_on.png</string>
	</array>
	<key>SpriteSheets</key>
	<array/>
</dict>
</plist>
