<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1959},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,625},{89,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,127}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,625},{89,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,127}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,644},{80,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,625},{89,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,127}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,644},{80,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,625},{89,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,127}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{490,314}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{490,314}}</string>
                <key>sourceSize</key>
                <string>{490,322}</string>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bollte.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,186},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{20,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn-again.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1694},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>btn-continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1890},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>btn-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1694},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>btn-select-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1625},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>btn-select.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1556},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>btn-start-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,644},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>btn-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,644},{194,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>bullet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,467},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,713},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>nessie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>nessie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>nessie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>nessie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,94},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>nessie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>nessie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>pest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,260},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>pest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,330},{98,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{98,66}</string>
            </dict>
            <key>pest2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,544},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>pest3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,467},{94,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{94,75}</string>
            </dict>
            <key>pest4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,398},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>pest5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,186},{98,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,72}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>planeHP.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,754},{800,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,60}}</string>
                <key>sourceSize</key>
                <string>{800,60}</string>
            </dict>
            <key>princess.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{75,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,88}}</string>
                <key>sourceSize</key>
                <string>{75,88}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sky2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{960,478}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{960,478}}</string>
                <key>sourceSize</key>
                <string>{960,482}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resources.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d35cab2619b3e403ca4344307d37b439$</string>
            <key>textureFileName</key>
            <string>resources.png</string>
        </dict>
    </dict>
</plist>
