<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>七号房的礼物</string>
		<key>icon</key>
		<string>qhfdlw</string>
		<key>title</key>
		<string>韩国批判性电影</string>
		<key>options</key>
		<array>
			<string>匹</string>
			<string>七</string>
			<string>天</string>
			<string>阳</string>
			<string>堂</string>
			<string>号</string>
			<string>邮</string>
			<string>物</string>
			<string>房</string>
			<string>曹</string>
			<string>员</string>
			<string>姐</string>
			<string>的</string>
			<string>递</string>
			<string>妹</string>
			<string>礼</string>
			<string>淘</string>
			<string>亮</string>
			<string>小</string>
			<string>新</string>
			<string>娘</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>甄嬛传</string>
		<key>icon</key>
		<string>zhenhuan</string>
		<key>title</key>
		<string>大型古装剧</string>
		<key>options</key>
		<array>
			<string>还</string>
			<string>甄</string>
			<string>陆</string>
			<string>嬛</string>
			<string>珠</string>
			<string>贞</string>
			<string>格</string>
			<string>传</string>
			<string>格</string>
			<string>传</string>
			<string>奇</string>
			<string>新</string>
			<string>芈</string>
			<string>拉</string>
			<string>版</string>
			<string>月</string>
			<string>倚</string>
			<string>龙</string>
			<string>天</string>
			<string>记</string>
			<string>屠</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>梁山伯与祝英台</string>
		<key>icon</key>
		<string>liangzhu</string>
		<key>title</key>
		<string>为爱化蝶，民间爱情故事</string>
		<key>options</key>
		<array>
			<string>梁</string>
			<string>罗</string>
			<string>柏</string>
			<string>国</string>
			<string>与</string>
			<string>密</string>
			<string>客</string>
			<string>祝</string>
			<string>欧</string>
			<string>学</string>
			<string>山</string>
			<string>英</string>
			<string>与</string>
			<string>绿</string>
			<string>伯</string>
			<string>台</string>
			<string>朱</string>
			<string>秀</string>
			<string>丽</string>
			<string>叶</string>
			<string>山</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>生活大爆炸</string>
		<key>icon</key>
		<string>bigbang</string>
		<key>title</key>
		<string>美剧名称</string>
		<key>options</key>
		<array>
			<string>线</string>
			<string>话</string>
			<string>飞</string>
			<string>人</string>
			<string>笑</string>
			<string>生</string>
			<string>黄</string>
			<string>活</string>
			<string>大</string>
			<string>超</string>
			<string>传</string>
			<string>特</string>
			<string>宝</string>
			<string>鸿</string>
			<string>队</string>
			<string>赤</string>
			<string>光</string>
			<string>爆</string>
			<string>壁</string>
			<string>炸</string>
			<string>王</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>中国合伙人</string>
		<key>icon</key>
		<string>hehuoren</string>
		<key>title</key>
		<string>创业励志电影</string>
		<key>options</key>
		<array>
			<string>越</string>
			<string>狂</string>
			<string>头</string>
			<string>中</string>
			<string>国</string>
			<string>赤</string>
			<string>派</string>
			<string>壁</string>
			<string>合</string>
			<string>宝</string>
			<string>的</string>
			<string>美</string>
			<string>疯</string>
			<string>线</string>
			<string>石</string>
			<string>光</string>
			<string>人</string>
			<string>伙</string>
			<string>人</string>
			<string>盒</string>
			<string>国</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>林依晨</string>
		<key>icon</key>
		<string>linyichen</string>
		<key>title</key>
		<string>台湾女演员</string>
		<key>options</key>
		<array>
			<string>林</string>
			<string>心</string>
			<string>玛</string>
			<string>泽</string>
			<string>子</string>
			<string>井</string>
			<string>颖</string>
			<string>怡</string>
			<string>如</string>
			<string>渤</string>
			<string>章</string>
			<string>利</string>
			<string>依</string>
			<string>曹</string>
			<string>空</string>
			<string>苍</string>
			<string>依</string>
			<string>亚</string>
			<string>蔡</string>
			<string>晨</string>
			<string>小</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>曾小贤</string>
		<key>icon</key>
		<string>zengxiaoxian</string>
		<key>title</key>
		<string>《爱情公寓》中角色</string>
		<key>options</key>
		<array>
			<string>一</string>
			<string>赤</string>
			<string>菲</string>
			<string>吕</string>
			<string>李</string>
			<string>贤</string>
			<string>黄</string>
			<string>小</string>
			<string>关</string>
			<string>古</string>
			<string>子</string>
			<string>曾</string>
			<string>天</string>
			<string>赫</string>
			<string>乔</string>
			<string>陈</string>
			<string>春</string>
			<string>宇</string>
			<string>乐</string>
			<string>林</string>
			<string>胡</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>神雕侠侣</string>
		<key>icon</key>
		<string>gutianle</string>
		<key>title</key>
		<string>成名代表古装剧</string>
		<key>options</key>
		<array>
			<string>古</string>
			<string>神</string>
			<string>天</string>
			<string>身</string>
			<string>乐</string>
			<string>男</string>
			<string>笑</string>
			<string>女</string>
			<string>传</string>
			<string>单</string>
			<string>听</string>
			<string>线</string>
			<string>侣</string>
			<string>云</string>
			<string>越</string>
			<string>人</string>
			<string>狱</string>
			<string>索</string>
			<string>飞</string>
			<string>侠</string>
			<string>雕</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>林俊杰</string>
		<key>icon</key>
		<string>linjunjie</string>
		<key>title</key>
		<string>著名歌手</string>
		<key>options</key>
		<array>
			<string>宝</string>
			<string>炫</string>
			<string>杰</string>
			<string>岳</string>
			<string>伦</string>
			<string>志</string>
			<string>俊</string>
			<string>震</string>
			<string>汪</string>
			<string>张</string>
			<string>沙</string>
			<string>庾</string>
			<string>澄</string>
			<string>亮</string>
			<string>周</string>
			<string>庆</string>
			<string>城</string>
			<string>林</string>
			<string>杰</string>
			<string>林</string>
			<string>东</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>王心凌</string>
		<key>icon</key>
		<string>wangxinling</string>
		<key>title</key>
		<string>台湾演员、歌手</string>
		<key>options</key>
		<array>
			<string>少</string>
			<string>王</string>
			<string>凌</string>
			<string>依</string>
			<string>泽</string>
			<string>亚</string>
			<string>岛</string>
			<string>林</string>
			<string>依</string>
			<string>松</string>
			<string>心</string>
			<string>枫</string>
			<string>利</string>
			<string>小</string>
			<string>蔡</string>
			<string>曹</string>
			<string>颖</string>
			<string>林</string>
			<string>玛</string>
			<string>晨</string>
			<string>芬</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>大笨钟</string>
		<key>icon</key>
		<string>dabenzhong</string>
		<key>title</key>
		<string>伦敦古钟</string>
		<key>options</key>
		<array>
			<string>大</string>
			<string>不</string>
			<string>笨</string>
			<string>自</string>
			<string>多</string>
			<string>纳</string>
			<string>海</string>
			<string>钟</string>
			<string>河</string>
			<string>江</string>
			<string>艾</string>
			<string>尔</string>
			<string>萨</string>
			<string>拉</string>
			<string>塔</string>
			<string>铁</string>
			<string>南</string>
			<string>过</string>
			<string>观</string>
			<string>山</string>
			<string>经</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>迎客松</string>
		<key>icon</key>
		<string>yingkesong</string>
		<key>title</key>
		<string>黄山松的代表</string>
		<key>options</key>
		<array>
			<string>迎</string>
			<string>青</string>
			<string>柏</string>
			<string>国</string>
			<string>友</string>
			<string>杰</string>
			<string>客</string>
			<string>松</string>
			<string>杨
     _  __
    (_)/   \
   &lt;&apos;_, ____)~~~~~~~   
鼠</string>
			<string>学</string>
			<string>山</string>
			<string>岩</string>
			<string>水</string>
			<string>绿</string>
			<string>富</string>
			<string>海</string>
			<string>灵</string>
			<string>秀</string>
			<string>湖</string>
			<string>洋</string>
			<string>树</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>自由女神像</string>
		<key>icon</key>
		<string>liberty</string>
		<key>title</key>
		<string>著名雕像</string>
		<key>options</key>
		<array>
			<string>栋</string>
			<string>林</string>
			<string>自</string>
			<string>汪</string>
			<string>张</string>
			<string>炫</string>
			<string>由</string>
			<string>咏</string>
			<string>校</string>
			<string>东</string>
			<string>张</string>
			<string>女</string>
			<string>城</string>
			<string>志</string>
			<string>伦</string>
			<string>神</string>
			<string>长</string>
			<string>亮</string>
			<string>岳</string>
			<string>像</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>珠穆朗玛峰</string>
		<key>icon</key>
		<string>zmlmf</string>
		<key>title</key>
		<string>世界最高峰</string>
		<key>options</key>
		<array>
			<string>喜</string>
			<string>峰</string>
			<string>山</string>
			<string>珠</string>
			<string>雅</string>
			<string>玛</string>
			<string>拉</string>
			<string>嵩</string>
			<string>穆</string>
			<string>马</string>
			<string>力</string>
			<string>朗</string>
			<string>城</string>
			<string>黄</string>
			<string>乞</string>
			<string>神</string>
			<string>长</string>
			<string>罗</string>
			<string>岳</string>
			<string>扎</string>
			<string>嵩</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>圣索菲亚教堂</string>
		<key>icon</key>
		<string>ssfyjt</string>
		<key>title</key>
		<string>土耳其最有名的教堂</string>
		<key>options</key>
		<array>
			<string>圣</string>
			<string>堂</string>
			<string>圣</string>
			<string>布</string>
			<string>索</string>
			<string>家</string>
			<string>教</string>
			<string>宫</string>
			<string>校</string>
			<string>亚</string>
			<string>堂</string>
			<string>拉</string>
			<string>菲</string>
			<string>志</string>
			<string>白</string>
			<string>神</string>
			<string>宫</string>
			<string>亮</string>
			<string>金</string>
			<string>像</string>
			<string>汉</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>天安日丽</string>
		<key>icon</key>
		<string>tamgc</string>
		<key>title</key>
		<string>五四运动爆发地，景观名</string>
		<key>options</key>
		<array>
			<string>天</string>
			<string>日</string>
			<string>安</string>
			<string>丽</string>
			<string>利</string>
			<string>门</string>
			<string>人</string>
			<string>大</string>
			<string>广</string>
			<string>东</string>
			<string>民</string>
			<string>场</string>
			<string>会</string>
			<string>志</string>
			<string>故</string>
			<string>神</string>
			<string>长</string>
			<string>亮</string>
			<string>堂</string>
			<string>像</string>
			<string>宫</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>白金汉宫</string>
		<key>icon</key>
		<string>baijinhangong</string>
		<key>title</key>
		<string>英国君王的寝宫</string>
		<key>options</key>
		<array>
			<string>白</string>
			<string>金</string>
			<string>克</string>
			<string>宫</string>
			<string>林</string>
			<string>炫</string>
			<string>汉</string>
			<string>姆</string>
			<string>古</string>
			<string>梵</string>
			<string>张</string>
			<string>女</string>
			<string>城</string>
			<string>里</string>
			<string>耳</string>
			<string>神</string>
			<string>长</string>
			<string>莎</string>
			<string>寨</string>
			<string>温</string>
			<string>堡</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>剑桥大学</string>
		<key>icon</key>
		<string>jianqiao</string>
		<key>title</key>
		<string>英国著名大学</string>
		<key>options</key>
		<array>
			<string>长</string>
			<string>滕</string>
			<string>剑</string>
			<string>春</string>
			<string>桥</string>
			<string>学</string>
			<string>大</string>
			<string>多</string>
			<string>哈</string>
			<string>多</string>
			<string>伦</string>
			<string>女</string>
			<string>佛</string>
			<string>志</string>
			<string>伦</string>
			<string>神</string>
			<string>长</string>
			<string>亮</string>
			<string>岳</string>
			<string>像</string>
			<string>周</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>伊斯坦布尔</string>
		<key>icon</key>
		<string>yisitanbuer</string>
		<key>title</key>
		<string>土耳其最大的城市</string>
		<key>options</key>
		<array>
			<string>尔</string>
			<string>林</string>
			<string>巴</string>
			<string>伯</string>
			<string>拉</string>
			<string>炫</string>
			<string>基</string>
			<string>勒</string>
			<string>伊</string>
			<string>斯</string>
			<string>张</string>
			<string>斯</string>
			<string>城</string>
			<string>沙</string>
			<string>伦</string>
			<string>神</string>
			<string>长</string>
			<string>特</string>
			<string>坦</string>
			<string>布</string>
			<string>阿</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>土耳其</string>
		<key>icon</key>
		<string>reqiqiu</string>
		<key>title</key>
		<string>热气球王国</string>
		<key>options</key>
		<array>
			<string>伊</string>
			<string>林</string>
			<string>斯</string>
			<string>土</string>
			<string>张</string>
			<string>尔</string>
			<string>耳</string>
			<string>其</string>
			<string>坦</string>
			<string>琪</string>
			<string>张</string>
			<string>中</string>
			<string>布</string>
			<string>志</string>
			<string>伦</string>
			<string>神</string>
			<string>瑞</string>
			<string>亮</string>
			<string>典</string>
			<string>像</string>
			<string>士</string>
		</array>
	</dict>
</array>
</plist>
